:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.page-body {
    font-family: Roboto, sans-serif;
    color: var(--cloud, #434455);
    background: var(--white, #FFF);
}

.page-header {
    border-bottom: 1px solid #e7e9fc
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.page-nav {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    font-family: Raleway, sans-serif;
    color: var(--iris, #4d5ae5);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 80px;
    margin-right: 76px;
}

.studio {
    color: var(--navyblue, #2e2f42);
}

.info-element:not(:last-child) {
    margin-right: 40px;
}

.element {
    color: var(--navyblue, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
}

.adr {
    font-style: normal;
}

.element:hover,
.element:focus {
    color: #404bbf
}

.adress-elem {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.contact {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 24px;
    padding-top: 24px;
    display: inline-block;
}

.contact:hover,
.contact:focus {
    color: #404bbf;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info_contact {
    display: flex;
    align-items: center;
    gap: 40px;
}

.page-main {
    padding-top: 25px;
    padding-bottom: 25px;
}

.tagline-section {
    padding: 188px 0;
    background: var(--navyblue, #2E2F42);
}

.tagline {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn {
    color: var(--white, #FFF);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--iris, #4D5AE5);
    border-radius: 4px;
    display: block;
    margin-left: 450px;
    margin-bottom: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF
}

.quality {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.info_quality {
    display: flex;
    align-items: baseline;
    gap: 24px;
    flex-basis: content;
}

.qual-list {
    width: calc((100% - 72px) / 4);
}

.quality-name {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.we_doing {
    color: var(--navyblue, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.info_img {
    display: flex;
    align-items: center;
    gap: 24px;
}

.services {
    padding-bottom: 120px;
}

.services-images {
    flex-basis: calc((100%-3*16px)/3);
}

.employers {
    padding: 120px 0;
    background: var(--cloud, #F4F4FD);
}

.info_photo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-photo {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
}

.employers_info {
    padding: 32px 0;
}

.name {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.job-title {
    color: var(--slate, #434455);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.page-footer {
    padding: 100px 0;
    background: var(--navyblue, #2E2F42);

}

.color_footer {
    background: var(--navyblue, #2E2F42);
    padding-top: 101px;
    padding-left: 40px;
}

.studios {
    color: var(--navyblue, #f4f4fd);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo_footer {
    font-family: Raleway, sans-serif;
    color: var(--iris, #4d5ae5);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.tag {
    line-height: 1.5;
    color: var(--cloud, #F4F4FD);
    letter-spacing: 0.02em;
    width: 264px;
}

/**Portfolio**/

.body-portfolio {
    color: var(--slate, #434455);
    font-family: Roboto, sans-serif;
}

.page-header-portfolio {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e7e9fc;
}

.page-header-container-portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-portfolio {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-nav-portfolio {
    display: flex;
    align-items: center;
}

.info-portfolio {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info-contact-portfolio {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.element {
    padding: 24px 0;
}

.adress-elem {
    margin-right: 40px;
}

.page-main-container-portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company {
    padding-top: 96px;
    padding-bottom: 120px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.modal-bt {
    color: var(--iris, #4d5ae5);
    background-color: var(--ocean, #F4F4FD);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #e7e9fc
}

.modal-bt:hover,
.modal-bt:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.image_services {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.cards {
    width: calc((100% - 48px) / 3);
}

.description_img {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.content {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.divided {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo_portfolio {
    font-family: Raleway, sans-serif;
    color: var(--iris, #4d5ae5);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-left: 150px;
}

.page_footer_container_portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conclusion_footer {
    background: var(--navyblue, #2E2F42);
    padding-top: 101px;
    padding-left: 40px;
}

.tag_footer {
    line-height: 1.5;
    color: var(--cloud, #F4F4FD);
    letter-spacing: 0.02em;
    padding-top: 17px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 650px;
}